<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LCHS Go - Bell Schedule App" />
    <link rel="apple-touch-icon" href="/public/faviconAppIcon.png" />
    <meta name="theme-color" content="#333" />
    <link rel="manifest" href="/public/manifest.json" />
    <link rel="stylesheet" href="/public/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Niramit:300,regular,500,600" rel="stylesheet" />
    <script>
      const Pages = ["now", "calendar", "calendarDay", "settings", "classNames", "data"];
      const pages = Pages.map((page) =>
        fetch(`/pages/${page}.html`)
          .then((response) => response.text())
          .then((html) => ({ page, html }))
      );
    </script>
    <script src="https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.iife.js" defer></script>
    <script src="https://unpkg.com/dayjs@1.10.8/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/isBetween.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/advancedFormat.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/customParseFormat.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/localeData.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/utc.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/plugin/timezone.js"></script>
    <script>
      dayjs.extend(window.dayjs_plugin_isBetween);
      dayjs.extend(window.dayjs_plugin_advancedFormat);
      dayjs.extend(window.dayjs_plugin_customParseFormat);
      dayjs.extend(window.dayjs_plugin_localeData);
      dayjs.extend(window.dayjs_plugin_utc);
      dayjs.extend(window.dayjs_plugin_timezone);
    </script>
    <script>
      console.log(" _    ___   _ _____               \n| |  / __| (_)_   _|__ __ _ _ __  \n| |_| (__  | | | |/ -_) _` | '  \\ \n|____\\___| |_| |_|\\___\\__,_|_|_|_|\nhttps://github.com/lchsiteam/lchs-go-new");
      // Automatically saturate the background based on the background color
      const styledBackgroundVariables = Array.from(document.styleSheets[0].rules[0].style)
        .map((e) => e.replace("--", ""))
        .filter((e) => isFinite(e))
        .map((e) => parseInt(e));
      const classesUsingBackground = Array.from(document.styleSheets[0].rules)
        .map((e) => ({ selector: e.selectorText, number: styledBackgroundVariables.find((v) => e.cssText.includes(`var(--${v})`)) }))
        .filter((e) => e.number);
      const styleTag = `<style>${classesUsingBackground.map((clazz) => `${clazz.selector} {backdrop-filter: saturate(${clazz.number + 100}%);}`).join("\n")}</style>`;
      document.head.insertAdjacentHTML("beforeend", styleTag);
    </script>
    <script type="module" src="/src/schedule.js"></script>
    <script type="module" src="/src/index.js"></script>
    <title>LCHS Go</title>
  </head>

  <body id="body" v-scope v-effect="startTimer()">
    <!-- Background - Used to do the color -->
    <div class="background" id="background" v-bind:class="{ 'animated': userSettings.THEME_ANIMATION }"></div>
    <div class="app-container">
      <!-- Navigation - Holds the page buttons -->
      <div class="navigation">
        <button @click="switchPage('now')" class="nav-button" v-bind:class="{'selected': currentPage == Pages.Now}">{{ translate("NOW") }}</button>
        <button @click="switchPage('calendar')" class="nav-button" v-bind:class="{'selected': currentPage == Pages.Calendar}">{{ translate("CALENDAR") }}</button>
        <button @click="switchPage('settings')" class="nav-button" v-bind:class="{'selected': currentPage == Pages.Settings}">{{ translate("SETTINGS") }}</button>
      </div>

      <div id="pages">
        <!-- Loads pages from external files - check script above -->
      </div>
      <script>
        const pagesElement = document.getElementById("pages");
        pages.map((p) => p.then((page) => pagesElement.insertAdjacentHTML("beforeend", `<div id="${page.page}-page" v-if="currentPage == '${page.page}'">${page.html}</div>`)));
      </script>

      <!-- End of Pages -->
      <div class="credits">
        Made with ❤️ by the <a href="https://lciteam.club" class="credits" target="_blank">LC iTeam</a>
        <br />
        <a href="https://forms.gle/BgFW4MgL9RGpezdw7" class="credits" target="_blank">Report a bug</a>
        <br />
        <a href="https://chrome.google.com/webstore/detail/lchs-go-beta/bddnpkadgjcbafnmbampfbaiijafealk" class="credits" target="_blank">Install the Extension</a>
      </div>
    </div>

    <!-- Templates Section - These are templates because they are used in multiple areas -->
    <!-- AKA components from other frameworks -->
    <!-- Period Information Template - Holds the time left -->
    <template id="period-information-template">
      <div class="progress-bar">
        <div class="circle"></div>
        <div class="vertical-bar" v-bind:style="{ height: 100 - percentCompleted - 5 + '%' }"></div>
        <div class="moving-time" v-effect="$el.textContent = currentTime"></div>
        <div class="vertical-bar" v-bind:style="{ height: percentCompleted - 5 + '%' }"></div>
        <div class="circle"></div>
      </div>
      <div class="period-information-content">
        <div>
          <div class="start-end-time" v-effect="currentPeriod">{{ currentPeriod.getStart() }}</div>
          <div class="divider-bar" style="margin-top: 1rem"></div>
        </div>
        <div>
          <div class="time-left-name">{{ currentPeriod.getName() }}</div>
          <div class="time-left-text">
            <span v-if="Math.trunc(minutesLeft / 60) > 0">
              <span class="time-left-number">{{ Math.trunc(minutesLeft / 60) }}</span>
              {{ translate("HOUR_ABBREVIATION") }}
            </span>
            <span style="margin-right: 5px">
              <span class="time-left-number">{{ minutesLeft % 60 }}</span>
              {{ translate("MINUTE_ABBREVIATION") }}
            </span>
          </div>
          <div class="time-left-text">{{ translate('UNITL_END') }}</div>
          <div class="time-left-text percent">{{ percentCompletedText }}</div>
        </div>
        <div>
          <div class="divider-bar" style="margin-bottom: 1rem"></div>
          <div class="start-end-time">{{ currentPeriod.getEnd() }}</div>
        </div>
      </div>
    </template>
    <!-- Period List Template - Holds the list of periods -->
    <template id="period-list-template">
      <div class="periods-header">
        <div class="period-name">
          <div class="period-header-text">{{ translate("PERIOD_NAME") }}</div>
        </div>
        <div class="period-header-text">{{ translate("PERIOD_START") }}</div>
        <div class="period-header-text">{{ translate("PERIOD_END") }}</div>
      </div>
      <div v-for="period in listPeriod">
        <div class="period" v-bind:class="{ current: period.isCurrent() && !isCalendar }" v-if="period.isVisible()">
          <div class="period-name">
            <label for="period-name"></label>
            <input v-effect="$el.value = period.getName()" @click="$el.focus(); $el.select();" @blur="changeClassName(period.name, $el)" name="period-name" />
          </div>
          <div>{{ period.getStart() }}</div>
          <div>{{ period.getEnd() }}</div>
        </div>
        <!-- <script v-else>
          document.currentScript.parentElement.remove();
        </script> -->
        <div class="period-information-small" v-scope="PeriodInformationComponent()" v-if="period.isCurrent() && !isCalendar && userSettings.INLINE_DETAILS"></div>
      </div>
    </template>
    <!-- Service Worker Startup -->
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceWorker.js", { scope: "/" }).then(function (registration) {
          // idk what to put here but it is needed for a pwa
        });
        navigator.serviceWorker.ready.then(function (registration) {});
      }
    </script>
  </body>
</html>
