<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/petite-vue"></script>
  <script src="https://unpkg.com/moment@2.29.1/moment.js"></script>
  <script type="module" src="scheduleFormatting.js"></script>
  <script type="module" src="vueScript.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Niramit:300,regular,500,600"
    rel="stylesheet" />
  <title>LCHS Go</title>
</head>

<body class="body" v-scope @mounted="startTimer()">
  <div class="background" id="background"></div>
  <div class="app-container">
    <div class="header">
      <div class="navigation">
        <div @click="currentPage = 'now'" class="nav-button" v-bind:class="{'selected': currentPage == 'now'}">
          {{ translate("NOW") }}
        </div>
        <div @click="currentPage = 'calendar'" class="nav-button"
          v-bind:class="{'selected': currentPage == 'calendar'}">
          {{ translate("CALENDAR") }}
        </div>
        <div @click="currentPage = 'settings'" class="nav-button"
          v-bind:class="{'selected': currentPage == 'settings'}">
          {{ translate("SETTINGS") }}
        </div>
        <div @click="switchToChange()" class="nav-button" v-bind:class="{'selected': currentPage == 'change'}">
          Change Class Names

        </div>
      </div>
    </div>
    <div id="now-page" v-if="currentPage == 'now'">
      <div class="todays-schedule" v-effect="$el.textContent = todaysGreeting">
        Hello. Things are broken :)
      </div>
      <div class="schedule-container">
        <div class="period-information" v-scope="PeriodInformationComponent()"></div>
        <div class="all-periods" v-scope="PeriodListComponent()"></div>
      </div>
    </div>
    <div id="calendar" v-if="currentPage == 'calendar'">
      <div class="todays-schedule">
        Calendar
      </div>
      <div class="calendar-container">
        <div class="calendar-day" v-for="day in 35" v-bind:class="{ 'outside': date.month() !== moment().month() }"
          v-scope="CalendarDay({num: day})" @click="showPopup = true; popupSchedule = scheduleType()">
          <div class="cd-number">
            {{ date.date() }}
          </div>
          <div class="cd-tag">
            {{ translate(scheduleType().scheduleType) }}
          </div>
          <div class="cd-tag" v-if="event() != null">
            {{ event() }}
          </div>
        </div>
      </div>
    </div>


    <div class="schedule-popup" v-if="showPopup" @click="showPopup = false;">
      <div v-scope="PeriodListComponent()"></div>

    </div>
    <div id="settings-page" v-if="currentPage == 'settings'">
      <div class="todays-schedule">
        App Settings
      </div>
      <div class="settings-row" v-for="setting in settingsMenu">
        <div class="sr-head">
          <span class="sr-badge-new" v-if="setting.new">NEW</span>
          <b class="sr-title">{{ translate("SETTINGS_" + setting.key + "_TITLE") }}</b>
          <span class="sr-desc">{{ translate("SETTINGS_" + setting.key + "_DESC") }}</span>
        </div>

        <div class="sr-option" v-scope="{ userOption: settings[setting.setting] }">
          <div class="sr-selector" v-if="setting.mode == 'toggle'">
            <div class="sr-selector-option" v-for="option in setting.options"
              @click="changeSetting(setting.setting, option[0])" v-bind:class="{ 'selected': userOption == option[0] }">
              {{ translate(option[1]) }}
            </div>
          </div>
          <select class="sr-select" v-if="setting.mode == 'dropdown'">
            <option class="sr-select-item" v-for="option in setting.options">{{ translate(option) }}</option>
          </select>
           
          <div class="" v-if="setting.mode == 'color-slider'">    
            <input class="sr-color-slider" id="hue" type="range" max="360" v-effect="$el.value = settings.colorTheme"
            v-on:input="changeHue($el.value)" 
            v-on:change="changeSetting('colorTheme', $el.value)">
          </div>
        </div>


      </div>
    </div>
    <div id="change-class" v-if="currentPage == 'change'">
      <form id = "saveMe">
          <br>
          <label for="name"> Zero:</label>
          <input type="text" id="zero" name = "zero" @blur="submitClass(zero)">
          <label for="name"> One:</label>
          <input type="text" id="one" name = "one" @blur="submitClass(one)">
          <label for="name"> Two:</label>
          <input type="text" id="two" name = "two" @blur="submitClass(two)">
          <label for="name"> Three:</label>
          <input type="text" id="three" name = "three" @blur="submitClass(three)">
          <label for="name"> Four:</label>
          <input type="text" id="four" name = "four" @blur="submitClass(four)">
          <label for="name"> Five:</label>
          <input type="text" id="five" name = "five" @blur="submitClass(five)">
          <label for="name"> Six:</label>
          <input type="text" id="six" name = "six" @blur="submitClass(six)">
          <br>

      </form>




    </div>
  </div>
  <template id="period-information-template">
    <div class="progress-bar">
      <div class="circle"></div><!--                             percent max  min          min-->
      <div class="moving-time" v-bind:style="{ top: percentCompleted * (85 - 12) / 100 + 12 + '%' }"
        v-effect="$el.textContent = currentTime"></div>
      <!--12 - 85-->
      <div class="vertical-bar"></div>
      <div class="circle"></div>
    </div>
    <div class="period-information-content">
      <div class="start-end-time" v-effect="currentPeriod">{{ currentPeriod.getStart() }}</div>
      <div class="time-left">
        <div class="divider-bar" style="margin-bottom: 10px;"></div>
        <div class="time-left-group">
          <div class="details-name">{{ currentPeriod.getName() }}</div>
          <div class="time-left-text">
            <div style="display: inline-flex; justify-content: center; flex-wrap: wrap;">
              <div style="margin-right: 5px;" v-if="Math.trunc(minutesLeft / 60) > 0">
                <span class="time-left-number">{{ Math.trunc(minutesLeft / 60) }}</span>
                hr.
              </div>
              <div style="margin-right: 5px;">
                <span class="time-left-number">{{ minutesLeft % 60 }}</span>
                min.
              </div>
            </div>
            {{ translate('UNITL_END') }}
          </div>
          <div class="time-left-percent">{{ percentCompletedText }}</div>
        </div>
        <div class="divider-bar" style="margin-top: 20px;"></div>
      </div>
      <div class="start-end-time">{{ currentPeriod.getEnd() }}</div>
    </div>
  </template>
  <template id="period-list-template">
    <div class="periods-header">
      <div class="period-name">
        <div class="period-header-text">{{ translate("PERIOD_NAME") }}</div>
      </div>
      <div class="period-header-text">{{ translate("PERIOD_START") }}</div>
      <div class="period-header-text">{{ translate("PERIOD_END") }}</div>
    </div>
    <div v-for="period in periodList">
      <div class="period" v-bind:class="{ current: period.isCurrent(), 'list-odd': getListCount() }"
        v-if="period.isCurrent() || !period.isPassing()">
        <div class="period-name">
          <div class="period-details">{{ period.getName() }}</div>
        </div>
        <div class="period-details">{{ period.getStart() }}</div>
        <div class="period-details">{{ period.getEnd() }}</div>
      </div>
      <div class="period-details-small" v-scope="PeriodInformationComponent()" v-if="period.isCurrent()"></div>
    </div>
  </template>
</body>

</html>