:root {
  --developer-green: #39a976;
  --background-color: var(--developer-green);
  --animated-background-intensity: 15deg;
  --text-color: white;

  --5: rgba(0, 0, 0, 0.05);
  --10: rgba(0, 0, 0, 0.1);
  --15: rgba(0, 0, 0, 0.15);
  --25: rgba(0, 0, 0, 0.25);
  --50: rgba(0, 0, 0, 0.5);
  --75: rgba(0, 0, 0, 0.75);
  --85: rgba(0, 0, 0, 0.85);
  --95: rgba(0, 0, 0, 0.95);
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  border: none;
  background-color: transparent;
}

body {
  font-family: "Niramit", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: var(--background-color);
}

.background.animated {
  animation: hueChange 10s infinite alternate;
}

@keyframes hueChange {
  0% {
    filter: hue-rotate(calc(var(--animated-background-intensity) * -1));
  }

  100% {
    filter: hue-rotate(var(--animated-background-intensity));
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.navigation {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.nav-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: var(--15)
}

.nav-button.selected {
  background-color: var(--25);
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.credits {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
}


/* NOW PAGE */

.schedule-container {
  display: flex;
}

.period-information {
  background-color: var(--25);
  display: flex;
  border-radius: 0.5rem;
}

.period-information-small {
  display: none;
}

.progress-bar {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar .circle {
  height: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.progress-bar .moving-time {
  width: 100%;
  text-align: center;
  /* white-space: nowrap; */
}

.progress-bar .vertical-bar {
  width: 2px;
  height: 100%;
  background-color: var(--text-color);
}

.period-information-content {
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.period-information-content .start-end-time {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.time-left-name {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.time-left-text {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.time-left-number {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.time-left-text.percent {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.divider-bar {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}

.periods-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  background-color: var(--15);
  border-radius: 0.5rem;
}

.period {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  background-color: var(--5);
}

.period.current {
  margin-left: 0;
  margin-right: 0;
  padding-left: 3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--25);
}

.period.odd {
  background-color: var(--10);
}

.all-periods div:nth-child(odd)>.period {
  background-color: var(--10);
}

.all-periods div:nth-last-child(2)>.period:not(.current) {
  border-radius: 0 0 0.5rem 0.5rem;
}

.period-name>input:hover {
  cursor: pointer;
}

.event-listing {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  background-color: var(--10);
}

.event-listing:empty {
  background-color: transparent;
  backdrop-filter: none;
}

/* CALENDAR PAGE */

.calendar-title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.calendar-title .page-title {
  width: 16rem;
}

.month-select-left,
.month-select-right {
  cursor: pointer;
  user-select: none;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  background-color: var(--10);
  cursor: pointer;
}

.calendar-day.outside {
  opacity: 0.5;
}

.calendar-day.today {
  border: 1px solid var(--text-color);
}

.calendar-day-number {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}

.calendar-day-tag {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: var(--5);
}

.calendar-day-tag:empty {
  display: none;
}

/* SETTINGS PAGE */

.setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.setting>div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.setting:hover {
  background-color: var(--5);
}

.setting .title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 1rem 0.4rem 0;
}

.setting .description {
  font-size: 1rem;
  font-weight: 400;
}

.setting .badge {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--15);
}

.setting .badge.experimental:hover::before {
  content: "Experimental ";
}

.setting .toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--10);
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  width: fit-content;
}

.setting .toggle .toggle-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.setting .toggle .toggle-option:hover {
  background-color: var(--5);
}

.setting .toggle .toggle-option.selected {
  background-color: var(--5);
}

.setting .select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  background-color: var(--10);
  cursor: pointer;
}

.setting .select .select-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.setting .select .select-option:hover {
  background-color: var(--5);
}

.setting .select .select-option.selected {
  background-color: var(--5);
}

.setting .button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.setting .button {
  gap: 0.5rem;
  padding: 0.7rem 1.2rem;
  border-radius: 0.3rem;
  background-color: var(--10);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.share-link {
  overflow: hidden;
  width: 10rem;
  border: 1px solid var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.setting .slider {
  outline: 0;
  appearance: none;
  width: 25rem;
  height: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  background-color: var(--50);
}

.setting .color-slider {
  outline: 0;
  appearance: none;
  width: 25rem;
  height: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  background: linear-gradient(to right,
      hsl(0, 100%, 100%) 0%,
      hsl(0, 100%, 50%) 2%,
      hsl(30, 100%, 50%) 8.3%,
      hsl(60, 100%, 50%) 16.6%,
      hsl(90, 100%, 50%) 25%,
      hsl(120, 100%, 50%) 33.3%,
      hsl(150, 100%, 50%) 41.6%,
      hsl(180, 100%, 50%) 50%,
      hsl(210, 100%, 50%) 58.3%,
      hsl(240, 100%, 50%) 66.6%,
      hsl(270, 100%, 50%) 75%,
      hsl(300, 100%, 50%) 83.3%,
      hsl(330, 100%, 50%) 91.6%,
      hsl(360, 100%, 50%) 98%,
      hsl(0, 100%, 0%) 100%);
}

.setting .color-slider::-webkit-slider-thumb,
.setting .slider::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  appearance: none;
  border: 2px solid var(--text-color);
  border-radius: 1rem;
  cursor: ew-resize;
  background-color: color-mix(in srgb, var(--text-color) 60%, transparent);
}





@media screen and (max-width: 767px) {
  .app-container {
    padding-top: 5px;
  }

  .schedule-container {
    justify-content: center;
  }

  .schedule-popup {
    padding: 16vh 7vw;
    padding-top: 0%;
    top: 70px;
  }

  .period-information {
    display: none;
  }

  .period.current {
    left: 0px;
  }

  .outside {
    display: none;
  }

  .period-details-small {
    display: flex;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    justify-content: flex-start;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }

  .period-details-small.current {
    left: 0px;
    display: none;
  }

  .calendar-container {
    /* justify-content: center; */
    flex-wrap: nowrap;
    overflow: auto;
    flex-direction: column;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }

  .calendar-day {
    height: auto;
    flex-basis: 80%;
    width: 70vw;
    margin-left: 15px;
    margin-right: 15px;

  }

  .settings-row {
    width: 90vw;
  }
}

@media screen and (max-width: 479px) {
  .all-periods {
    width: 315px;
  }

  .nav-button {
    margin-right: 10px;
    margin-left: 10px;
  }
}