<!-- Calendar Page - Calendar pulled from the events.json -->
<div class="calendar-title">
  <div class="month-select-left" @click="monthOffset--; refreshCalendar()" tabindex="0">⇦</div>
  <div class="page-title" v-effect="$el.textContent = getMonthText(dayjs().month() + monthOffset) + ' ' + Math.floor((dayjs().year() + (dayjs().month() + monthOffset) / 12))">{{ translate("CALENDAR_TITLE")}}</div>
  <div class="month-select-right" @click="monthOffset++; refreshCalendar()" tabindex="0">⇨</div>
</div>
<div class="calendar-container" v-if="selectedCalendarDay != ''">
  <div class="calendar-day" v-for="day in 35" v-scope="CalendarDay(day, monthOffset)" @click="selectedCalendarDay = date; switchPage(Pages.CalendarDay)" v-bind:class="{ 'today': date.date() == dayjs().date() && date.month() == dayjs().month() && date.year() == dayjs().year(), 'outside': date.month() !== (dayjs().month() + monthOffset % 12) }">
    <div class="calendar-day-number">{{ date.date() }}</div>
    <div class="calendar-day-tag">{{ translate(getSchedule(date).scheduleType) }}</div>
    <div class="calendar-day-tag">{{ getEvent(date) }}</div>
  </div>
</div>
